@use "../../foundation/import"as f;

.p-more {
  margin: 140px 0 0 0;

  &__img {
    width: 400px;
    margin: 5% auto;

    img {
      border-radius: 25% 10%;
    }
  }

  &__text {
    font-size: 1.8rem;
    font-weight: f.$bold;
    text-align: left;
    padding: 10px;

    p{
      padding-bottom: 18px;
    }
  }

}

.p-fv {
  margin: 140px 0;

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;

    .item {
      width: 270px;
      height: 250px;
      position: relative;
      cursor: pointer;

      &:hover .p-fv__hovermask {
        opacity: 1;
      }
    }
  }

  

  .p-fv__hovermask {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all .3s ease;

    .p-fv__tit {
      position: absolute;
      top: 15%;
      font-size: 2.8rem;
      font-weight: bold;
      color: f.$white;
      left: 0;
      right: 0;
      margin: auto;
    }

    .p-fv__txt {
      color: f.$white;
      position: absolute;
      padding: 15px;
      top: 30%;
      font-size: 1.5rem;
      color: f.$white;
      left: 0;
      right: 0;
      margin: auto;
      text-align: left;
    }
  }
  .p-fv__hovermask.active {
    opacity: 1;
  }
}

.morewave {
  background-color: f.$white;
}
//------------------------------------------------------------
//@media screen
//------------------------------------------------------------
@include f.mq(pc) {
  .p-fv__gallery {
    justify-content: center;
  }
}

@include f.mq(sp) {
  .p-more {
    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__img {
      width: 60%;
      margin: 20% auto;
    }

    &__text {
      margin: 0 auto;
      p {
        font-size: 1.5rem;
        font-weight: normal;
      }
    }
  }

  .p-fv__gallery {
    flex-direction: column;
    align-items: center;
  }

  .p-fv__hovermask {
    display: none;
  }

  .p-fv__hovermask.active {
    display: block;
  }
}