@charset "UTF-8";
/*!
 * ress.css 窶｢ v4.0.0
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
  # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
  color: inherit;
  /* Correct border color in Firefox. */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0;
  /* Remove text indentation in Chrome, Edge, and Safari */
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "PT Serif";
  color: #333333;
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
}

.scroll_up {
  transition: 0.8s ease-in-out;
  transform: translateY(40px);
  opacity: 0;
}

.scroll_up.on {
  transform: translateY(0);
  opacity: 1;
}

.time02 {
  transition-delay: 0.3s;
}

.time03 {
  transition-delay: 0.5s;
}

.time04 {
  transition-delay: 0.7s;
}

.time05 {
  transition-delay: 0.9s;
}

@media screen and (max-width: 1080px) {
  body {
    min-width: 1100px;
  }
  .wrapper {
    width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  body {
    min-width: auto;
  }
  .wrapper {
    width: 100%;
  }
  .pc {
    display: none;
  }
}
_::-webkit-full-page-media,
_:future,
:root .wave {
  height: 75px;
}

.l-header__inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 1240px;
  height: 100px;
  margin: 0 auto;
  padding: 0 3%;
}
.l-header__list {
  display: flex;
  gap: 0 70px;
}
.l-header li {
  font-size: 2.5rem;
}
.l-header a {
  display: inline-block;
  position: relative;
  color: #333333;
}
.l-header a:hover {
  opacity: 0.6;
}
.l-header a:hover::before {
  transform: scale(1);
}
.l-header a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.8px;
  bottom: 1px;
  background: #555;
  transform: scale(0, 1);
  transform-origin: left;
  transition: 0.4s;
}

.p-mv__flex {
  display: flex;
  position: relative;
}
.p-mv__lead {
  position: absolute;
  width: 45%;
  left: 50px;
  top: 60px;
  z-index: 999;
}
.p-mv__bg {
  width: 21%;
  height: 600px;
  background-color: #EEE9E6;
  z-index: 2;
}
.p-mv__img {
  width: 79%;
}
.p-mv__img img {
  vertical-align: top;
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-mv__vertical {
  display: flex;
  writing-mode: vertical-rl;
  padding: 200px 0px 40px;
  color: #707070;
  font-size: 5rem;
  float: right;
}
.p-mv span {
  opacity: 0;
}
@-webkit-keyframes showtext {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showtext {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.swiper-slide[class*=-active] .slide-media img {
  transition-delay: 0s;
  transform: scale(1.05);
}
.swiper-slide[class*=-active] .slide-title {
  -webkit-animation: mv01-fadeIn 2s 0.5s var(--easing) both;
          animation: mv01-fadeIn 2s 0.5s var(--easing) both;
}

@-webkit-keyframes mv01-fadeIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
    filter: blur(300px);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes mv01-fadeIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
    filter: blur(300px);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    filter: blur(0);
  }
}
@media screen and (max-width: 768px) {
  .swiper-slide img:last-of-type {
    -o-object-position: 80% 50%;
       object-position: 80% 50%;
  }
  .l-header__inner {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: -120%;
    background-color: #999;
    color: #fff;
    opacity: 0.9;
    text-align: center;
    transition: all 0.6s;
    z-index: 999;
  }
  .l-header {
    height: 100px;
  }
  .l-header__inner.panelactive {
    right: 0;
    display: flex;
    justify-content: center;
  }
  .l-header__list {
    flex-direction: column;
    position: absolute;
    gap: 40px 0;
    text-align: center;
  }
  .l-header__list a {
    color: #ffffff;
  }
  .l-header__toggle {
    display: inline-block;
    position: fixed;
    width: 70px;
    height: 70px;
    margin-left: auto;
    top: 20px;
    right: 20px;
    transform: scale(-1, 1);
    z-index: 9999;
  }
  .l-header__toggle span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 16px;
    background-color: #333333;
    transition: all 0.3s;
  }
  .l-header__toggle span:nth-child(1) {
    width: 40px;
    top: 20px;
  }
  .l-header__toggle span:nth-child(2) {
    width: 30px;
    top: 35px;
  }
  .l-header__toggle span:nth-child(3) {
    width: 20px;
    top: 50px;
  }
  .l-header__toggle.open span:nth-child(1) {
    width: 40px;
    top: 35px;
    transform: rotate(315deg);
  }
  .l-header__toggle.open span:nth-child(2) {
    width: 0;
    left: 50%;
  }
  .l-header__toggle.open span:nth-child(3) {
    width: 40px;
    top: 35px;
    transform: rotate(-315deg);
  }
  .p-mv__vertical {
    font-size: 3.5rem;
  }
  .p-mv__lead {
    width: 70%;
    top: 80px;
  }
  .p-mv__bg {
    height: auto;
  }
  .p-mv .swiper-wrapper {
    height: 500px;
  }
}
.p-about {
  padding-top: 100px;
}
.p-about__inner {
  display: flex;
  margin-top: 60px;
  gap: 200px;
}
.p-about__img {
  position: relative;
}
.p-about__img .fluid {
  width: 350px;
  height: 350px;
  background: #DAEAF1;
  -webkit-animation: fluidrotate 20s ease 0s infinite;
          animation: fluidrotate 20s ease 0s infinite;
}
.p-about__img img {
  position: absolute;
  width: 180px;
  top: 25px;
  left: 90px;
}
@-webkit-keyframes fluidrotate {
  0%, 100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
@keyframes fluidrotate {
  0%, 100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
.p-about__box {
  text-align: left;
}
.p-about__name {
  padding: 30px 0;
  color: #333333;
  font-size: 3.2rem;
  font-weight: normal;
}
.p-about__text {
  text-align: left;
  padding-bottom: 40px;
  color: #333333;
  font-size: 1.6rem;
  line-height: 2;
}
.p-about__btn {
  text-align: right;
}
.p-about__btn a {
  cursor: pointer;
  color: #333333;
  font-size: 3.5rem;
  letter-spacing: 0.1em;
  transition: 0.3s ease-in-out;
}
.p-about__btn a:hover {
  letter-spacing: 0.5em;
  transition: all 0.3s;
  color: #82acac;
}

.p-skills {
  margin-top: 100px;
  padding-top: 100px;
  background-color: #EEE9E6;
}
.p-skills__inner {
  margin-top: 60px;
}
.p-skills__list {
  display: flex;
  margin-top: 90px;
}
.p-skills__bg {
  width: 500px;
  margin: 0 auto;
}

.p-works {
  background-color: #DAEAF1;
}
.p-works__inner {
  padding: 80px 0 100px 0;
}
.p-works__list {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
}
.p-works .c-btn {
  opacity: 0;
}

.image_box {
  width: 100%;
  display: block;
}

.hover {
  position: relative;
}
.hover figure {
  position: relative;
  overflow: hidden;
}
.hover figure::before {
  display: block;
  content: "";
  position: absolute;
  left: -30%;
  top: -260%;
  width: 230%;
  height: 200%;
  transform: rotate(40deg);
  background: rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  z-index: 1;
}
.hover figure::after {
  display: block;
  content: "";
  position: absolute;
  left: -30%;
  top: -260%;
  width: 230%;
  height: 200%;
  transform: rotate(40deg);
  background: linear-gradient(to bottom right, rgba(34, 169, 202, 0.3), rgba(83, 26, 175, 0.3));
  transition: 0.3s;
  z-index: 2;
}
.hover figure img {
  display: block;
  width: 100%;
  transition: 0.3s;
}
.hover:hover figure::before {
  top: 0;
}
.hover:hover figure::after {
  top: 0;
  transition-delay: 0.2s;
}
.hover:hover figure figcaption {
  opacity: 1;
}

.p-vision {
  background-color: #DAEAF1;
}
.p-vision__bg {
  height: 1080px;
  padding-top: 100px;
  background-image: url(../img/vision-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.p-vision__board {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  padding: 60px 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
}
.p-vision__board p {
  font-size: 2rem;
  color: #333333;
}
.p-vision__board p:not(:last-of-type) {
  padding-bottom: 40px;
}

.p-contact {
  padding-bottom: 80px;
  background-color: #D1E1E5;
}
.p-contact__inner p {
  padding: 60px 0;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .p-about__inner {
    flex-direction: column;
    gap: 60px 0;
  }
  .p-about__img {
    margin: 0 auto;
    right: 0;
  }
  .p-about__img img {
    width: 150px;
  }
  .p-about__name {
    text-align: center;
  }
  .p-about__aboutbox {
    padding: 0;
  }
  .p-about__btn a {
    color: #82acac;
  }
  .p-about .fluid {
    width: 300px;
  }
  .p-skills__bg {
    width: 100%;
    height: auto;
  }
  .p-works__list {
    flex-direction: column;
  }
  .p-works .c-btn {
    opacity: 1;
  }
  .p-contact__inner p {
    white-space: nowrap;
    padding: 40px;
  }
  .p-vision__board {
    padding: 40px 20px;
  }
  .p-vision__board p {
    font-size: 1.5rem;
    text-align: left;
  }
}
.l-footer {
  padding-bottom: 50px;
  background-color: #363636;
}

.p-footer p {
  color: #ffffff;
  font-size: 1.4rem;
  text-align: center;
}
.p-footer__icon {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
.p-footer__icon li {
  width: 50px;
  margin-left: 20px;
}
.p-footer__icon li:nth-child(1) {
  margin-left: 0px;
}
.p-footer__icon a {
  display: block;
}
.p-footer__icon a:hover {
  opacity: 0.3;
}

.wave {
  position: relative;
  height: 80px;
  background-color: #D1E1E5;
  overflow: hidden;
}

#wavecanvas {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.c-title {
  text-align: center;
}
.c-title h2 {
  display: inline-block;
  position: relative;
  font-size: 3.5rem;
  font-weight: bold;
}
.c-title h2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 50px;
  left: 50%;
  background-color: #333333;
  transform: translateX(-50%);
}
.c-title__left {
  text-align: left;
}
.c-title__right {
  text-align: right;
  padding-top: 100px;
}

.c-works__card a {
  color: #333333;
}
.c-works__card__desc {
  background-color: #ffffff;
  padding: 15px;
}
.c-works__card__ttl {
  text-align: center;
  display: block;
  font-size: 2rem;
  font-weight: 700;
}
.c-works__card__txt {
  font-size: 1.4rem;
  text-align: left;
}
.c-works__card__txt:first-of-type {
  margin-bottom: 1em;
}
.c-works__card figure {
  overflow: hidden;
}
.c-works__card figure img {
  transition: 0.5s all;
}
.c-works__card figure img:hover {
  transform: scale(1.2, 1.2);
  transition: 0.5s all;
}

.c-btn {
  width: 270px;
  margin: 0 auto;
  border-radius: 40px;
  background-color: #ffffff;
}
.c-btn:hover {
  background-color: #82acac;
  transition: 0.5s;
}
.c-btn a {
  display: block;
  padding: 20px 0;
  color: #333333;
  font-size: 1.8rem;
  text-align: center;
}
.c-btn a:hover {
  color: #ffffff;
}

.hexagon {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 100px;
  margin: 0px 17.5px 0 30px;
  background-color: #EEE9E6;
  z-index: 1;
  cursor: pointer;
}
.hexagon:before, .hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  z-index: 1;
}
.hexagon:before {
  left: -35px;
  border-right: 35px solid #EEE9E6;
}
.hexagon:after {
  right: -35px;
  border-left: 35px solid #EEE9E6;
}

.c-card {
  display: flex;
  justify-content: space-between;
}
.c-card .card {
  position: relative;
  width: 350px;
  height: 250px;
  perspective: 1000px;
}
.c-card .card .front,
.c-card .card .back {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.c-card .card .front p {
  position: absolute;
  right: -8px;
  bottom: 56px;
  font-size: 2rem;
  letter-spacing: 0.8em;
  transform: rotate(-55deg);
  color: #9F9791;
}
.c-card .card .back {
  transform: rotateY(-180deg);
  position: relative;
}
.c-card .card .back__tit {
  position: absolute;
  top: 15%;
  right: 0;
  left: 0;
  margin: auto;
  color: #ffffff;
  font-size: 2.2rem;
  text-shadow: 1px 1px 3px #333333;
}
.c-card .card .back__txt {
  position: absolute;
  width: 60%;
  top: 38%;
  right: 0;
  left: 0;
  margin: auto;
  color: #ffffff;
  font-size: 1.3rem;
  text-align: left;
}
.c-card .flipped .front {
  transform: rotateY(180deg);
}
.c-card .flipped .back {
  transform: rotateY(0);
}

#page-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 40px;
  width: 60px;
  height: 60px;
  color: #D1CAC5;
  text-align: center;
  font-size: 2.8rem;
  transition: all 0.3s;
  text-transform: uppercase;
}

#page-top a:hover {
  background: #D1CAC5;
  color: #EEE9E6;
}

#page-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  opacity: 0;
  transform: translateY(100px);
}

#page-top.UpMove {
  -webkit-animation: UpAnime 0.5s forwards;
          animation: UpAnime 0.5s forwards;
}

@-webkit-keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#page-top.DownMove {
  -webkit-animation: DownAnime 0.5s forwards;
          animation: DownAnime 0.5s forwards;
}

@-webkit-keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(100px);
  }
}

@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(100px);
  }
}
.c-tap {
  width: 10%;
  margin: 3% auto;
  top: 20px;
  -webkit-animation: fluffy1 2.5s ease infinite;
          animation: fluffy1 2.5s ease infinite;
}
.c-tap img {
  transform: rotate(180deg);
}
@-webkit-keyframes fluffy1 {
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-12px);
  }
  25% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-12px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fluffy1 {
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-12px);
  }
  25% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-12px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .c-card {
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 30px 0;
    align-items: center;
  }
  .card-right {
    float: right;
  }
  .c-works__card {
    padding-bottom: 20px;
  }
  .c-works__card figure {
    width: 100%;
    right: 0;
    left: 0;
    margin: auto;
  }
  .c-works__card p {
    margin: 0 auto;
    width: 80%;
    text-align: left;
  }
  .p-works__contents {
    margin-bottom: 60px;
  }
  .c-btn {
    background-color: #82acac;
  }
  .c-btn a {
    color: #ffffff;
  }
  #page-top {
    right: 5px;
    bottom: 5px;
  }
  #page-top a {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
  .c-tap {
    width: 15%;
  }
}
.p-more {
  margin: 140px 0 0 0;
}
.p-more__img {
  width: 400px;
  margin: 5% auto;
}
.p-more__img img {
  border-radius: 25% 10%;
}
.p-more__text {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: left;
  padding: 10px;
}
.p-more__text p {
  padding-bottom: 18px;
}

.p-fv {
  margin: 140px 0;
}
.p-fv__gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.p-fv__gallery .item {
  width: 270px;
  height: 250px;
  position: relative;
  cursor: pointer;
}
.p-fv__gallery .item:hover .p-fv__hovermask {
  opacity: 1;
}
.p-fv .p-fv__hovermask {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
}
.p-fv .p-fv__hovermask .p-fv__tit {
  position: absolute;
  top: 15%;
  font-size: 2.8rem;
  font-weight: bold;
  color: #ffffff;
  left: 0;
  right: 0;
  margin: auto;
}
.p-fv .p-fv__hovermask .p-fv__txt {
  color: #ffffff;
  position: absolute;
  padding: 15px;
  top: 30%;
  font-size: 1.5rem;
  color: #ffffff;
  left: 0;
  right: 0;
  margin: auto;
  text-align: left;
}
.p-fv .p-fv__hovermask.active {
  opacity: 1;
}

.morewave {
  background-color: #ffffff;
}

@media screen and (max-width: 1080px) {
  .p-fv__gallery {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .p-more__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .p-more__img {
    width: 60%;
    margin: 20% auto;
  }
  .p-more__text {
    margin: 0 auto;
  }
  .p-more__text p {
    font-size: 1.5rem;
    font-weight: normal;
  }
  .p-fv__gallery {
    flex-direction: column;
    align-items: center;
  }
  .p-fv__hovermask {
    display: none;
  }
  .p-fv__hovermask.active {
    display: block;
  }
}
#form {
  background-color: #D1E1E5;
}
#form .morewave {
  background-color: #D1E1E5;
}

.p-contactform {
  margin: 100px auto;
}

form {
  max-width: 600px;
  margin: 80px auto 150px;
  font-size: 14px;
}

label {
  display: block;
  margin-bottom: 4px;
}

input[type=text],
input[type=email] {
  width: 100%;
  background: #ffffff;
  border-radius: 4px;
  border: none;
  outline: solid 1px #aaa;
  padding: 12px 8px;
  display: block;
  margin-bottom: 16px;
}

textarea {
  width: 100%;
  background: #ffffff;
  border-radius: 4px;
  border: none;
  outline: solid 1px #aaa;
  padding: 12px 8px;
  display: block;
  margin-bottom: 60px;
}

.send {
  font-size: 1.8rem;
  color: #ffffff;
}

button {
  margin: 0 auto;
  background: #82acac;
  letter-spacing: 0.2em;
  width: 240px;
  padding: 20px;
  border-radius: 40px;
  display: block;
  margin-left: auto;
  cursor: pointer;
  border: none;
  transition: 0.5s;
}

button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  form {
    margin: 60px auto;
    padding: 0px 20px;
  }
}
/*# sourceMappingURL=style.css.map */