@use "../foundation/import"as f;

//------------------------------------------------------------
//main
//------------------------------------------------------------

//------------------------------------------------------------
//about
//------------------------------------------------------------
.p-about {
  padding-top: 140px;

  &__inner {
    display: flex;
    margin-top: 60px;
    gap: 200px;
  }

  &__img {
    position: relative;

    .fluid {
      width: 350px;
      height: 350px;
      background: f.$blue;
      animation: fluidrotate 20s ease 0s infinite;
    }

    img {
      position: absolute;
      width: 180px; //
      top: 25px;
      left: 90px;
    }

    @keyframes fluidrotate {

      0%,
      100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
      }

      14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
      }

      28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
      }

      42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
      }

      56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
      }

      70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
      }

      84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
      }
    }
  }

  &__box {
    text-align: left;
  }


  &__name {
    padding: 30px 0;
    color: f.$black;
    font-size: 3.2rem;
    font-weight: normal;
  }

  &__text {
    text-align: left;
    padding-bottom: 40px;
    color: f.$black;
    font-size: 1.6rem;
    line-height: f.line-height(36, 18); //
  }

  &__btn {
    text-align: right;

    a {
      cursor: pointer;
      color: f.$black;
      font-size: 3.5rem;
      letter-spacing: 0.1em;
      transition: 0.3s ease-in-out;
    }

    a:hover {
      letter-spacing: 0.5em;
      transition: all 0.3s;
      color: #82acac;
    }
  }
}

//------------------------------------------------------------
//skills
//------------------------------------------------------------
.p-skills {
  margin-top: 130px;
  padding-top: 80px;
  background-color: f.$beige;

  &__inner {
    margin-top: 60px;
  }

  &__list {
    display: flex;
    margin-top: 90px;
  }

  &__bg {
    width: 500px;
    margin: 0 auto;
  }
}

//------------------------------------------------------------
//works
//------------------------------------------------------------
.p-works {
  background-color: #DAEAF1;

  &__inner {
    padding: 80px 0 100px 0;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
  }

  & .c-btn {
    opacity: 0;
  }
}

.image_box {
  width: 100%;
  display: block;
}

.hover {
  position: relative;

  figure {
    position: relative;
    overflow: hidden;

    &::before {
      display: block;
      content: '';
      position: absolute;
      left: -30%;
      top: -260%;
      width: 230%;
      height: 200%;
      transform: rotate(40deg);
      background: rgba(255, 255, 255, .2);
      transition: .3s;
      z-index: 1;
    }

    &::after {
      display: block;
      content: '';
      position: absolute;
      left: -30%;
      top: -260%;
      width: 230%;
      height: 200%;
      transform: rotate(40deg);
      background: linear-gradient(to bottom right, rgba(34, 169, 202, .3), rgba(83, 26, 175, .3));
      transition: .3s;
      z-index: 2;
    }

    img {
      display: block;
      width: 100%;
      transition: .3s;
    }
  }

  &:hover {
    figure {
      &::before {
        top: 0;
      }

      &::after {
        top: 0;
        transition-delay: .2s;
      }

      figcaption {
        opacity: 1;
      }
    }
  }
}

//------------------------------------------------------------
//vision
//------------------------------------------------------------

.p-vision {
  background-color: f.$blue;

  &__bg {
    height: 1080px;
    padding-top: 110px;
    background-image: url(../img/vision-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__board {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 60px 0;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 30px;

    p {
      &:not(:last-of-type) {
        padding-bottom: 40px;
      }
      font-size: 2rem;
      color: f.$black;
    }
  }
}

//------------------------------------------------------------
//contact
//------------------------------------------------------------
.p-contact {
  padding-bottom: 80px;
  background-color: f.$green;

  &__inner {
    p {
      padding: 60px 0;
      font-size: 16px;
    }
  }
}

//------------------------------------------------------------
//@media screeen
//------------------------------------------------------------

@include f.mq(sp) {
  .p-about {
    &__inner {
      flex-direction: column;
      gap: 60px 0;
    }

    &__img {
      margin: 0 auto;
      right: 0;

      img {
        width: 150px;
      }
    }

    &__name {
      text-align: center;
    }

    &__aboutbox {
      padding: 0;
    }

    &__btn a {
        color: f.$hover;
    }

    .fluid {
      width: 300px;
    }

  }

  .p-skills__bg {
    width: 100%;
    height: auto;
  }

  .p-works__list {
    flex-direction: column;

  }

  .p-works .c-btn {
    opacity: 1;
  }

  .p-contact__inner p {
    white-space: nowrap;
    padding: 40px ;
  }

  .p-vision__board {
    padding: 40px 20px;
    p {
      font-size: 1.5rem;
      text-align: left;
    }
  }
}